body {
    font-family: Arial;
    background: #f4f6f7;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.header-title {
    text-align: center;
}

.input-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.btn-submit {
    background: green;
    color: white;
    padding: 10px;
    border: none;
}

.error-msg {
    background: #f8d7da;
    padding: 10px;
    color: red;
}

.success-msg {
    background: #d4edda;
    padding: 10px;
    color: green;
}